{:src-dirs ["src"]
 :rules    [duka.marketplace.* {:restrict-to [duka.marketplace.* duka.boundary.*]}
            duka.fulfilment.*  {:restrict-to [duka.fulfilment.* duka.boundary.*]}
            duka.boundary.*    {:restrict-to [duka.boundary.*]}]}
